<div class="well">
  <div class="container">
    <h1 class="text-center">Edit Order: <%= @order.id %></h1>
    <div>
      <div class=" table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <th>Item</th>
          <th>Quantity</th>
          <th>Weight/Unit</th>
          <th>Price/Unit</th>
          <th>Total Weight</th>
          <th>Total Price</th>
          <% @order.order_items.each do |order_item| %>
          <tr>
            <td> <%= order_item.item.title %> </td>
            <td> <%= order_item.quantity %> </td>
            <td> <%= order_item.item.weight %> </td>
            <td> <%= order_item.item.price %> </td>
            <td> <%= order_item.item.weight * order_item.quantity %> </td>
            <td> <%= order_item.item.price * order_item.item.price %> </td>
          </tr>
          <% end %>
          <%= link_to "Cancel Order", order_path(@order), method: :delete %>

          <div id="butts" class="dropdown">
            <button class="btn btn-primary dropdown-toggle active" type="button" data-toggle="dropdown"> Change Status %>
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><%= link_to "Completed", admin_order_path(@order, id: @order.id, status: "completed"), method: :patch %></li>
                <li><%= link_to "Picked Up", admin_order_path(@order, id: @order.id, status: "picked up"), method: :patch %></li>
                <li><%= link_to "Cancelled", admin_order_path(@order, id: @order.id, order: { status: "cancelled" }), method: :patch %></li>
              </ul>
        </thead>
      </table>
    </div>
  </div>
</div>
</div>
